   <!-- BAR CHART 1 -->
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Findings
                                </div>
                                <div class="card-body">
                                    <canvas id="myBarChart" width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>

                        <!-- BAR CHART 2 -->
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Findings by Severity (Bar Chart)
                                </div>
                                <div class="card-body">
                                    <canvas id="myBarChart2" width="100%" height="40"></canvas>
                                </div>
                            </div>
                        </div>